body{
    font-family: "Montserrat", sans-serif;
}


/* TITLE */

#title {
  background-color: #DA0037;
}

.front-img {
  padding-top: 30px;
}

h1 {
  font-family:  "Montserrat", sans-serif;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
  line-height: 1.5;

}



p{
  color: #fff;
}

img{
  padding: 100px 10px 30px 90px;
}

/* .row {
  width: 100%;
  height: 450px;
}
 */

/* NAVBAR  */

li {
  list-style-type: none;
  font-size: 15px;
}


.navbar-brand {
  font-family:  "Ubuntu", sans-serif;
  font-weight: 200;
}

.navbar-nav{
  margin-right: 10px;
  padding: 10px;
}


/* Features view*/

#view {
  background-color: #fff;
  color: black;
}

.feature-title {
  size: 1.5rem;
  margin-left: 35px;
}

/* link hover blue to black without underline */

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}
/* --------------------------------------*/
.feature-box{
  margin-top: 50px;
  margin-bottom: 100px;
  padding-left: 250px;

}

.icon-user{
  color: #ef8172;
  margin-top: 100px;
  margin-bottom: 10px;
}

.icon-user:hover{
  color: #ff4c68;
}

.icon-exchange {
  color: #ef8172;
  margin-top: 100px;
  margin-left: 65px;
  margin-bottom: 10px;
}

.icon-exchange:hover{
  color: #ff4c68;
}

.icon-receipt {
  color: #ef8172;
  margin-top: 100px;
  margin-left: 65px;
  margin-bottom: 10px;
}

.icon-receipt:hover{
  color: #ff4c68;
}



/* Footer */

.page-footer {
  background-color: grey;
}

.footer-icon:hover{
 color: #ff4c68;
}
.social-icon{
  margin: 20px 10px;
}

.social-icon:hover{
  color: #ff4c68;
}
